@model List<Farm_Central.Models.Product>

@{
    ViewData["Title"] = "Products List";
}

@*Navbar*@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Farm Central</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="ms-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    </li>
                    <li class="ml-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Farmer_List">Farmer's List</a>
                    </li>
                    <li class="ml-auto">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Farmer_Add">Add Farmer</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@if(TempData["msg"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["msg"]
    </div>
}

<div>
    <h1>List of Farmer's Products</h1>
    <h4>Filter by:</h4>

    <div class="productlist_filter">
        @*Filter By Product-Type*@
        <div class="mb-3">
            <form method="post" action="/Product/Product_List" class="mt-5">
              <div class="filterByType">
                  <div class="mb-3">
                    <label for="" class="form-label">Product Type</label>
                    <select class="form-select" id="inputGroupSelect04" name="productType">
                        <option selected value="All">All</option>
                        <option value="Fruit">Fruit</option>
                        <option value="Grain">Grain</option>
                        <option value="Vegetable">Vegetable</option>
                        <option value="Animal Product">Animal Product</option>
                        <option value="Raw Material">Raw Material</option>
                    </select>
                  </div>
              </div>
              <div>
                  <button type="submit" class="btn btn-primary">Filter by Type</button>
              </div>
            </form>
        </div>
    
        @*Filter By Date-Range*@
        <div class="mb-3">
            <form method="post" action="/Product/Product_List" class="mt-5">
                <div class="filterByDate">
                    <div class="mb-3">
                        <label for="" class="form-label">Start date</label>
                        <input type="date" class="form-control" name="startDate">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">End date</label>
                        <input type="date" class="form-control" name="endDate">
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Filter by Date</button>
                </div>
            </form>
        </div>
    </div>

    @*Products Table*@
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Qty</th>
                <th>Price</th>
                <th>Product Type</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.ProductQty</td>
                    <td>R @product.Price</td>
                    <td>@product.ProductType</td>
                    <td>@product.CreatedDate.ToString("dd-MM-yyyy")</td>
                </tr>
            }
        </tbody>
    </table>
</div>